$color: #ff0088;
$color-highlight: "ff4444";
$white: #ffffff;

.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  .loginContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .loginTitle {
      font-size: 48px;
      font-weight: $bold-font;
      text-align: center;
    }

    .inputsContainer {
      margin-top: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .formInput {
        margin-top: 20px;
      }
    }

    .error {
      height: 20px;
      margin-top: 20px;

      .errText {
        color: $color-error;
        text-align: center;
      }
    }

    .signupText {
      height: 50px;
      margin-top: 10px;
      direction: rtl;

      .link {
        margin-right: 5px;
        color: $color;
        text-decoration: underline;

        &:hover {
          cursor: pointer;
        }

        &:active {
          color: $color-highlight;
        }
      }
    }

    .submitButton {
      margin: 60px auto;
      width: 300px;
      height: 50px;
    }
  }
}
